@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins';
}
.container-inner-blog{
    /* border: 1px solid red; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    margin: auto;
    
}
.follow{
    border: 1px solid black;
    border-radius: 50px;
    padding: 3px;
    font-size: .7rem;
    margin: 20px;
}
.li-for-inner-blog{
    font-size: .7rem
}
#footer-none{
    display: none;
}
.problem{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    padding: 20px;
    gap: 10px;

}
.problem p{
    font-size: .7rem;
}
.comment{
    border: 1px solid black;
    width: 100%;
    padding: 5px;
    border-radius: 20px;
    outline: none;
 
}
/* .comment-style{
    background-color: red;
    display: flex;
    gap: 20px;
} */
@media (min-width:768px) {
    
    .descrption-pic a{
        width: 400px;
        display: flex;
        align-self: center;
    }
}
