@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
}
.disciplin-container{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}
.disciplinment{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
img{
    border-radius: 10px;
    /* border: 1px solid red; */
}
@media (min-width:768px) {
    .disciplin-container{
        width: 60%;
    }
    img{
        width: 100%;
        height: 300px;
    }
    .disciplinment img{
        height: 300px;
        width: 300px;
        /* border: 1px solid red; */
    }
    
}