@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    border-color: rgb(229, 231, 235);
    font-family: 'Poppins';

}
.main-continer{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* background-color: #f9f9f9; */
}
img{
    width: 100%;
}
.continer-hero{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    margin-bottom: 50px;
}
.nav-featuer{
    display: none;
    /* position: absolute; */
    /* right: 0; */
    width: 100%;
    /* top: 0; */
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 20px;
}
.close{
    /* display: none; */
    /* border: 1px solid red; */
    position: absolute;
    font-size: 30px;
    right: 50px;
    top: 0;
    width: 90%;
    display: flex;
    justify-content: flex-end;
   
}
.fa-xmark{
    /* border: 1px solid red; */
    align-self: flex-end;
    display: flex;
    
}

ul{
    /* display: flex; */
    flex-direction: column;
    /* gap: 20px; */
    font-size: 2rem;
    /* display: none; */
    /* width: 100%; */
    text-transform: capitalize;
    gap: 2px;
    
   
}

.hover {
    padding: 7px;
    border-radius: 50px;
}
.hover:hover{
    background-color:  rgb(229, 231, 235, 39%);
    cursor: pointer;
}

.btn-for-booking{
    background-color: black;
    color: white;
    border: none;
    outline: none;
    width: 90%;
    border-radius: 10px;
    /* padding: 10px; */
    /* font-size: .5rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 15px; */
    

}
.navbar{
    /* border: 2px solid red; */
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 80px;
    /* position: sticky; */
    top: 0;
    z-index: 1000;
    background-color: white;
    box-shadow: #9333ea;
}
a{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    color:  #888;
    text-decoration: none;
    padding: 5px;
    
}

a:hover{
    cursor: pointer;
}
.logo{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
}
.hambrgar{
    width: 20px;
    /* height: 20px; */
    font-size: 20px;
}
.content-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.discrption{
    /* border: 2px solid red; */
    background-color: rgb(229, 231, 235, 39%);
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

}
.hero-name{
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
}
.hero-name-h{
    /* border: 1px solid red; */
    text-align: center;
    font-size: 1.4rem;
}
.hero-name-p{
    font-size: 1rem;
    line-height: 1.3;
    text-align: center;
}
.book-class-option{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.hajz{
    /* border: 2px solid red; */
    color: white;
    display: flex;
    gap: 15px;
    font-size: 1rem;
    gap: 15px;
    padding: 10px;
}
.book-class{
    /* color: red; */
    background-color: black;
    color: white;
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 10px;
    /* width: 90%; */
    font-size: 1rem;
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer
}
.animation-area{
    height: 10px;
    width: 10px;
    background-color: green;
    border-radius: 50%;
    position: relative;
    

}
.over-span{
    position: absolute;
    height:10px;
    width: 10px;
    background-color: rgb(117, 223, 117);
    border-radius: 50%;
    animation: moveFade 1s infinite;
}
@keyframes moveFade{
    0%{
        transform: scale(1);
        opacity: 0;
    }
    50%{
        transform: scale(1.3);
        opacity: 1;
    }
    100%{
        transform:scale(1);
        opacity: 0;
    }
}
.content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.option{
    /* border: 1px solid red; */
    display: flex;
    background-color:rgb(185, 245, 207);
    padding: 10px;
    border-radius: 50px;
    gap: 10px;
    font-size: 12px;
    color:rgb(62, 136, 62);
    align-items: center;
}
.icon{
    display: flex;
    justify-content: space-between;
    width: 65%;
}

.icon-icons{
    /* border: 2px solid red; */
    color:black;

}
/* .space-skills{
    border: 2px solid red;
} */
.hero-img{
    /* border: 2px solid red; */
    border: 10px solid  rgb(229, 231, 235, 39%);
    border-radius: 20px;
    height: 410px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    
} 
.hero-img img{
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    
}
.scroll-section{
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 10px;
}
.continer-tow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 20px;
    margin-bottom: 50px;
}
.whole{
    /* border: 1px solid red; */
    flex-direction: column;
    gap: 50px;
    display: flex;
    margin-bottom: 50px;
}
/* .lens{
    position: absolute;
} */
.lens-one{
    /* border: 2px solid red; */
    position: relative;
     border-radius: 10px;
     border: 8px solid rgb(229, 231, 235, 39%);
}
.lens-two{
    /* position: absolute; */
    border-radius: 10px;
    width: 90%;
    position: absolute;
    top: 0;
    border: 8px solid rgb(229, 231, 235, 39%);
}
.about-btn{
    padding: 5px;
    width: 100px;
    border-radius: 50px;
    outline: none;
    border:none;
    align-self: flex-start;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

}
.lens-content h1{
    /* border: 2px solid red; */
    font-size: 1.5rem;
}
.para-area-one{
    display: none;
}
.space-experince{
    display: none;
}
.space-education{
    display: none;
}
.space-skills{
    display: none;
    gap: 10px;
}
.space-skills-style{
/* border: 2px solid red; */
display: grid;
grid-template-columns: repeat(2,1fr);
grid-template-rows: repeat(2,1fr);
gap: 20px;
padding: 5px;
}
.font-font{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: .7rem;
    background-color: #f6f6f6;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}
.value-style{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.currently-learning {
/* border: 1px solid red; */
grid-area: 3/1/3/1;
height: 100px;
margin-top: 15px;
}
.font-font h1{
    /* border: 1px solid red; */
    font-size: .8rem;
}
.nav-about{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}
.lens-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.ran{
    display: flex;
    gap: 5px;
}
.hr-div{
    width: 100%;
}
.continer-three{
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}
.portfolio-btn{
    padding: 5px;
    width: 100px;
    border-radius: 50px;
    outline: none;
    border:none;
    align-self: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

}
.Featured-head{
    font-size: 2rem;
   text-align: center;
}
.line{
    width: 60px;
    height: 5px;
    background-color: black;
    align-self: center;
    border-radius: 50px;
}
.projet-show-first{
    border-radius: 20px;
    background-color: rgb(229, 231, 235, 15%);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

}
.project-img img{
    border-radius: 20px 20px 0 0;
}
.Simple-booking{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
    border-radius: 0 0 20px 20px;

}
.Simple-booking h1{
    font-size: 1.5rem;
}
.Simple-booking p{
    font-size: .8rem;
    line-height: 1.5;
}
.project-simple-btn{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 10px;
}
.like-btn{
    /* border: 2px solid red; */
    background-color: rgb(229, 231, 235);
    border-radius: 7px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.explore-btn{
    background-color: black;
    color: white;
    padding: 10px;
    width: 70%;
    outline: none;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.continer-four{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 20px;
     background-color: rgb(242, 243, 245);
     border-radius: 20px;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

}
.Mortgage-Calculator-img img{
    border-radius: 0 0 20px 20px;
}
.Mortgage-Calculator{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    
   
}
.Mortgage-Calculator h1{
    font-size: 1.2rem;
}
.Mortgage-Calculator p{
     font-size: .8rem;
    line-height: 1.5;

}
.Mortgage-Calculator-btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 20px;
    width: 100%;
    font-size: .5rem;
    
    
}
.grid-order{
    
    display: grid;
    grid-area: 1/1/1/2;
}
.grid-order-two{
    display: grid;
    grid-area: 2/1/2/1;
}
.grid-order-three{
    display: grid;
    grid-area: 2/2/2/2;
}
.container-five{
    display: flex;
    flex-direction: column;
    background-color:rgb(120, 87, 255,61) ;
    gap: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

}
.Result-Summary-UI-img img{
    border-radius: 20px 20px 0 0 ;
}
.projet-show-three{
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
}
.projet-show-three h1{
    font-size: 1.3rem;
    color: white;
}
.projet-show-three p{
    font-size: .8rem;
    line-height: 1.5;
    color: white;
    text-align: lefts;
}
.Result-Summary-UI-btn{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    font-size:.7rem;
    gap: 10px;
}
.container-six{
    display: flex;
    flex-direction: column;
     background-color:rgba(158, 137, 209, 0.91) ;
     border-radius: 20px;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

}
.Huddle-Landing-Page{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Huddle-Landing-Page h1{
    font-size: 1.2rem;
    color: rgb(237, 236, 236);
}
.Huddle-Landing-Page p{
    font-size: .8rem;
    line-height: 1.5;
    color: rgb(235, 235, 235);
}
.huddle-btn{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: .7rem;
    width: 50%;
    
}
.Huddle-Landing-Page-img img{
    /* border: 2px solid red; */
    border-radius: 0 0 20px 20px;
}
.all{
    border: black 3px solid;
    align-self: center;
    color: black;
    background-color: transparent;
    padding: 13px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

}
.container-services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}
.services-btn{
    padding: 5px;
    border-radius: 50px;
    width: 100px;
    border: none;
    font-size: 1rem;
}
.help-center{
    font-size: 2rem;
    font-weight: 530;
}
.services-data{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.services-data-backround{
    /* border: 2px solid red; */
    background-color: rgba(245, 245, 245, 0.26);
    border-radius: 10px;
    padding: 25px;
}
.services-data-backround h1{
    /* border: 1px solid red; */
    font-size: 1.2rem;
}
.services-data-backround p{
    font-size: .8rem;
    line-height: 1.5;
}
.container-contact-touch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #fafafa;
    border-radius: 20px;
    /* padding: 30px; */
}
.container-contact-touch-area{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 17px;
   
}
.let-contact{
   /* width: 50%; */
   display: flex;
   justify-content: center;
   align-items: center;
    outline: none;
    border: none;
    color: linear;
    background: linear-gradient(135deg, #ffffff, #b0e0e6);
    color:#9333ea,#2563eb ;
    padding: 7px;
    font-size: 1rem;
}
/* .get-in-touch{
    font-weight: 520;
} */
.get-in-touch-p{
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
}
.container-contact-booking{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* font-family: .7rem; */
    /* border: 1px solid red; */
}
.karma{
    /* border: 2px solid red; */
    display: flex;
    gap: 20px;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    align-items: center;
    width: 100%;
    font-size: .7rem;
}
.alignment{
    display: flex;
    gap: 10px;
    padding: 10px;
}
.karma-space{
    /* border: 1px solid red; */
    font-size: .7rem;
}
.font-for-contact{
    font-size: 1.5rem;
    font-weight: 400;
}
.icon-contact{
    font-size: 1.5rem;
    color:white;
}
.email-icon{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: linear-gradient(135deg, #0072c6, #00c6ff);
    display: flex;
    justify-content: center;
    align-items: center;

}
.linkedln-icon{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: linear-gradient(135deg, #0077B5, #00a0dc);
    display: flex;
    justify-content: center;
    align-items: center;
}
.github-icon{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: linear-gradient(135deg, #333333, #181717);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}
.twitter-icon{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: linear-gradient(135deg, #1DA1F2, #0d8ddb);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}
.fa-envelope{
    /* color:rgb(115, 115, 244); */
    
}
.fa-linkedin-in{
    
}
.fa-square-github{

}
.email-icon{
    /* border: 2px solid red; */
}

ul{
    /* border: 1px solid red; */
    list-style: none;
    padding: 0;
    width: 90%;
}
.nav-featuer{
    display: none;
    width: 100%;
    position: absolute;
    z-index: 2;
    justify-content: flex-start;
}

.scroll-section{
    display: none;
}
.button{
    /* border: 1px solid red; */
    background-color: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

    .btn-for-booking{
        cursor: pointer;
    }

@media (min-width:768px) {
    body{
         display: flex;
        justify-content: center;
        align-items: center;
    }
    .main-continer{
        /* width: 90%; */
        justify-content: center;
        align-items: center;
    }
    .hero-name-p {
        text-align: left
    }
    .navbar {
        gap: 20px;
        display: flex;
    }
    .hambrgar{
        display: none;
    }
    ul{
        display: flex;
        flex-direction: row;
        padding: 0;
        font-size: .2rem;
        /* font-weight: ; */
        /* justify-content: ; */
    }
    a{
        font-size: .9rem;
    }
    .nav-featuer{
        display: flex;
        width: 100%;
        flex-direction: row;
        position: static;
        /* justify-content: flex-start; */
        /* background-color: red; */
        top: 0;
        background-color: transparent;
        height: 30px;
        
    }
    
    .close{
        display: none;
    }
    .nav-featuer{
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
    }
    .logo{
        display: flex;
        width: 200px;
    }
    .continer-hero{
        position: relative;
        animation: infinite;
    }
    /* @keyframes  {
        
        0{
scale(180deg);
        }
        50[

        ]
    } */
    
    .content{
        display: flex;
        flex-direction: row;
        gap: 40px;
        /* border: 1px solid red; */
        height: 100vh;
    }
    .content-hero{
        display: flex;
        /* border: 1px solid red; */
        justify-content: flex-start;
        align-items: flex-start;
        gap: 30px;
        /* border: 1px solid red; */
    }
    .hero-img{
        width: 500px;
        height: 512px;
        /* border: 1px solid red; */
    }
    .hero-img img{
        /* border: 2px solid red; */
        height: 492px;
    }
    .hero-name-h{
        text-align: left;
        font-size: 3rem;
    }
    .book-class-option{
        display: flex;
        flex-direction: row;
    }
    .btn-for-booking{
        width: 130px;
        font-size: .8rem;
        
    }
    .icon{
        /* border: 2px solid red; */
        width: 155px;
        font-size: 2rem;
    }
    .scroll-section{
        position: absolute;
        display: flex;
        flex-direction: column;
        bottom: 120px;
        animation: moveFade 6s infinite;
        
    }
    
    .continer-tow{
        display: flex;
        flex-direction: row;
        /* height: 100vh; */
        /* border: 1px solid red; */
        justify-content: flex-start;
        align-items: flex-start;
        gap: 50px;
        
    }
    .lens-content{
        display: flex;
        /* flex-basis: 60%; */
    }
    .lens{
        display: flex;
        flex-direction: column;
        flex-basis: 40%;
    }
    .lens-one{
        width: 45%;
    }
    .lens-two{
        width: 40%;
    }
    .projet-show-first{
        display: flex;
    }
    
    .continer-four{
        display: flex;
        flex-direction: row;
    }
    .Mortgage-Calculator{
        display: flex;
        flex-direction: column;
        /* width: 50%; */
    }
    .Mortgage-Calculator-img{
        display: flex;
        flex-basis: 50%;
    }
    .Result-Summary-UI{
        display: flex;
    }
    .Result-Summary-UI-img{
        display: flex;
        flex-basis: 50%;
    }
    .projet-show-three{
        display: flex;
        flex-basis: 50%;
    }.container-six{
        display: flex;
        flex-direction: row;
    }
    .projet-show-second{
        width: 50%;
    }
    .Mortgage-Calculator-img img{
        border-radius: 0 20px 20px 0;
    }
    .Result-Summary-UI-img img{
        height: 420px;
        border-radius: 20px 0 0 20px;
    }
    .Huddle-Landing-Page{
        flex-basis: 50%;
    }
    .Huddle-Landing-Page-img{
        flex-basis: 50%;
    }
    .services-data{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
    }
    .container-contact-booking{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        
    }
        .container-six{
            /* border: 1px solid red; */
            height: 420px;
        }
        .Huddle-Landing-Page-img img{
            height: 420px;
            border-radius: 0 20px 20px 0;
        }
    .nav-about{
        display: flex;
        justify-content: space-between;
    }
    .explore-btn{
        width: 200px;
    }
    .space-my-story{
        display: flex;
    }
    /* .para-area{
        display: flex;
    } */
     .lens-content{
        display: flex;
        flex-basis: 50%;
     }
     .nav-about {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 110%;
    }
    
    .fa-solid{
        display: none;
    }
    #none{
        display: none;
    }
    .container-contact-touch{
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px  solid red; */
    }
    .ran{
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 4px solid transparent;
        cursor: pointer;
    }
    .ran:hover{
        border-bottom: 4px solid black;
        border-radius: 3px;
        cursor: pointer;
    }
    .font-font{
        text-align: left;
    }
    .value-style{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
        font-size: .9rem;
        text-align: center;
        /* padding: 3px; */
    }
    .value-style>.like-btn{
        padding: auto;
        margin: auto;
    }
    .para-area-san{
        width: 50%;
    }
    .container-services{
        /* border: 1px solid red; */
        width: 80%;
    }
    .whole{
        /* border: 1px solid red;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr); */
        width: 70%;
    }
    .project-img img {
        height: 100%;
        border-radius: 20px 0 0 20px;
    }
    
    
}

