@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    border-color: rgb(229, 231, 235);
    font-family: 'Poppins';

}
.main-continer{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
img{
    width: 100%;
}
.continer-hero{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
}
.nav-featuer{
    display: none;
    position: absolute;
    right: 0;
    width: 100%;
    top: 0;
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}
.close{
    /* display: none; */
    /* border: 1px solid red; */
    position: absolute;
    font-size: 30px;
    right: 0;
    top: 0;
   
}
ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 2rem;
    /* display: none; */
    width: 100%;
    text-transform: capitalize;
   
}
.hover {
    padding: 7px;
    border-radius: 50px;
}
.hover:hover{
    background-color:  rgb(229, 231, 235, 39%);
    cursor: pointer;
}

.btn-for-booking{
    background-color: black;
    color: white;
    border: none;
    outline: none;
    width: 100%;
    border-radius: 10px;
    padding: 7px;
    font-size: .7rem;
    

}
.navbar{
    /* border: 2px solid red; */
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 80px;
    /* align-items: center; */
}
.logo{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
}
.hambrgar{
    width: 20px;
    /* height: 20px; */
    font-size: 20px;
}
.content-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.discrption{
    /* border: 2px solid red; */
    background-color: rgb(229, 231, 235, 39%);
    padding: 7px;
    border-radius: 50px;
    font-size: 12px;
}
.hero-name{
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
}
.hero-name-h{
    /* border: 1px solid red; */
    text-align: center;
    font-size: 1.4rem;
}
.hero-name-p{
    font-size: 1rem;
    line-height: 1.3;
}
.book-class-option{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.book-class{
    /* color: red; */
    background-color: black;
    color: white;
    padding: 4px;
    outline: none;
    border: none;
    border-radius: 10px;
    /* width: 90%; */
    font-size: 1rem;
    display: flex;
    gap: 10px;
    align-items: center;
   
    /* border: 1px solid red; */
}
.animation-area{
    height: 10px;
    width: 10px;
    background-color: green;
    border-radius: 50%;
    position: relative;
    

}
.over-span{
    position: absolute;
    height:10px;
    width: 10px;
    background-color: rgb(117, 223, 117);
    border-radius: 50%;
    animation: moveFade 1s infinite;
}
@keyframes moveFade{
    0%{
        transform: scale(1);
        opacity: 0;
    }
    50%{
        transform: scale(1.3);
        opacity: 1;
    }
    100%{
        transform:scale(1);
        opacity: 0;
    }
}
.content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.option{
    /* border: 1px solid red; */
    display: flex;
    background-color:rgb(185, 245, 207);
    padding: 10px;
    border-radius: 50px;
    gap: 10px;
    font-size: 12px;
    color:rgb(62, 136, 62);
    align-items: center;
}
.icon{
    display: flex;
    justify-content: space-between;
    width: 65%;
}

.icon-icons{
    /* border: 2px solid red; */
    color:black;

}
.hero-img{
    /* border: 2px solid red; */
    border: 10px solid  rgb(229, 231, 235, 39%);
    border-radius: 20px;
    
}
.hero-img img{
    border-radius: 20px;
    object-fit: cover;
}
.scroll-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.continer-tow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 20px;
}
/* .lens{
    position: absolute;
} */
.lens-one{
    /* border: 2px solid red; */
    position: relative;
     border-radius: 10px;
     border: 8px solid rgb(229, 231, 235, 39%);
}
.lens-two{
    /* position: absolute; */
    border-radius: 10px;
    width: 90%;
    position: absolute;
    top: 0;
    border: 8px solid rgb(229, 231, 235, 39%);
}
.about-btn{
    padding: 5px;
    width: 100px;
    border-radius: 50px;
    outline: none;
    border:none;
    align-self: flex-start;
}
.lens-content h1{
    /* border: 2px solid red; */
    font-size: 1.5rem;
}
.para-area{
    display: none;
}
.nav-about{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}
.lens-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.ran{
    display: flex;
    gap: 15px;
}
.hr-div{
    width: 100%;
}
.continer-three{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.portfolio-btn{
    padding: 5px;
    width: 100px;
    border-radius: 50px;
    outline: none;
    border:none;
    align-self: center;
}
.Featured-head{
    font-size: 2rem;
   text-align: center;
}
.line{
    width: 60px;
    height: 5px;
    background-color: black;
    align-self: center;
    border-radius: 50px;
}
.projet-show-first{
    border-radius: 20px;
    background-color: rgb(229, 231, 235, 15%);
}
.project-img img{
    border-radius: 20px 20px 0 0;
}
.Simple-booking{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Simple-booking h1{
    font-size: 1.5rem;
}
.Simple-booking p{
    font-size: .8rem;
    line-height: 1.5;
}
.project-simple-btn{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 10px;
}
.like-btn{
    /* border: 2px solid red; */
    background-color: rgb(229, 231, 235);
    border-radius: 50px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.explore-btn{
    background-color: black;
    color: white;
    padding: 10px;
    width: 70%;
    outline: none;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.continer-four{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 20px;
     background-color: rgb(242, 243, 245);
     border-radius: 20px;
}
.Mortgage-Calculator-img img{
    border-radius: 0 0 20px 20px;
}
.Mortgage-Calculator{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    
   
}
.Mortgage-Calculator h1{
    font-size: 1.2rem;
}
.Mortgage-Calculator p{
     font-size: .8rem;
    line-height: 1.5;

}
.Mortgage-Calculator-btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 20px;
    width: 100%;
    font-size: .5rem;
    
    
}
.grid-order{
    
    display: grid;
    grid-area: 1/1/1/2;
}
.grid-order-two{
    display: grid;
    grid-area: 2/1/2/1;
}
.grid-order-three{
    display: grid;
    grid-area: 2/2/2/2;
}
.container-five{
    display: flex;
    flex-direction: column;
    background-color:rgb(120, 87, 255,61) ;
    gap: 20px;
    border-radius: 20px;
}
.Result-Summary-UI-img img{
    border-radius: 20px 20px 0 0 ;
}
.projet-show-three{
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
}
.projet-show-three h1{
    font-size: 1.3rem;
    color: white;
}
.projet-show-three p{
    font-size: .8rem;
    line-height: 1.5;
    color: white;
    text-align: lefts;
}
.Result-Summary-UI-btn{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    font-size:.7rem;
    gap: 10px;
}
.container-six{
    display: flex;
    flex-direction: column;
     background-color:rgba(158, 137, 209, 0.91) ;
     border-radius: 20px;
}
.Huddle-Landing-Page{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Huddle-Landing-Page h1{
    font-size: 1.2rem;
    color: rgb(237, 236, 236);
}
.Huddle-Landing-Page p{
    font-size: .8rem;
    line-height: 1.5;
    color: rgb(235, 235, 235);
}
.huddle-btn{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: .7rem;
    width: 50%;
    
}
.Huddle-Landing-Page-img img{
    /* border: 2px solid red; */
    border-radius: 0 0 20px 20px;
}
.all{
    border: black 1px solid;
    align-self: center;
    color: black;
    background-color: transparent;
}
.container-services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.services-btn{
    padding: 5px;
    border-radius: 50px;
    width: 100px;
    border: none;
    font-size: 1rem;
}
.help-center{
    font-size: 2rem;
    font-weight: 530;
}
.services-data{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.services-data-backround{
    /* border: 2px solid red; */
    background-color: rgba(245, 245, 245, 0.26);
    border-radius: 10px;
    padding: 25px;
}
.services-data-backround h1{
    /* border: 1px solid red; */
    font-size: 1.2rem;
}
.services-data-backround p{
    font-size: .8rem;
    line-height: 1.5;
}
.container-contact-touch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #fafafa;
    border-radius: 20px;
    padding: 30px;
}
.let-contact{
   width: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
    outline: none;
    border: none;
    color: linear;
    background: linear-gradient(to left, #faf5ff ,#eff6ff );
    color:#9333ea,#2563eb ;
}
.get-in-touch{
    font-weight: 520;
}
.get-in-touch-p{
    font-size: .8rem;
    line-height: 1.5;
}
.container-contact-booking{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.karma{
    /* border: 2px solid red; */
    display: flex;
    gap: 20px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    align-items: center;
}
.font-for-contact{
    font-size: 1.5rem;
    font-weight: 400;
}
.icon-contact{
    font-size: 2rem;
}
.fa-envelope{
    color:rgb(115, 115, 244);
}

ul{
    /* border: 1px solid red; */
    list-style: none;
}
.nav-featuer{
    /* display: none; */
    width: 100%;
    position: absolute;
    z-index: 2;
    /* border: 1px solid red; */
    
    

}

.scroll-section{
    display: none;
}
.button{
    /* border: 1px solid red; */
    background-color: transparent;
    border: none;
    font-size: 1rem;
}

@media (min-width:768px) {
    body{
        border: 2px solid red;
         display: flex;
        justify-content: center;
        align-items: center;
    }
    .main-continer{
        width: 90%;
       
        
    }
    .hambrgar{
        display: none;
    }
    ul{
        display: flex;
        flex-direction: row;
        padding: 0;
        font-size: 1rem;
        /* justify-content: ; */
    }
    .nav-featuer{
        display: flex;
        width: 100%;
        flex-direction: row;
        position: static;
        /* background-color: red; */
        top: 0;
        background-color: transparent;
        height: 30px;
        
    }
    
    
    .close{
        display: none;
    }
    .nav-featuer{
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
    }
    .logo{
        display: flex;
        width: 200px;
    }
    .continer-hero{
        position: relative;
    }
    .content{
        display: flex;
        flex-direction: row;
        gap: 40px;
    }
    .content-hero{
        display: flex;
        /* border: 1px solid red; */
        justify-content: flex-start;
        align-items: flex-start;
        gap: 40px;
    }
    .hero-img{
        /* border: 2px solid red; */
        /* height: 100; */
        width: 600px;
    }
    .hero-name-h{
        text-align: left;
        font-size: 3rem;
    }
    .book-class-option{
        display: flex;
        flex-direction: row;
    }
    .btn-for-booking{
        width: 100px;
        
    }
    .icon{
        /* border: 2px solid red; */
        width: 155px;
        font-size: 2rem;
    }
    .scroll-section{
        position: absolute;
        display: flex;
        flex-direction: column;
        bottom: 120px;
        animation: moveFade 6s infinite;
        
    }
    
    .continer-tow{
        display: flex;
        flex-direction: row;
        /* height: 100vh; */
        /* border: 1px solid red; */
        justify-content: flex-start;
        align-items: flex-start;
        gap: 50px;
        
    }
    .lens-content{
        display: flex;
        /* flex-basis: 60%; */
    }
    .lens{
        display: flex;
        flex-direction: column;
        flex-basis: 40%;
    }
    .lens-one{
        width: 45%;
    }
    .lens-two{
        width: 40%;
    }
    .projet-show-first{
        display: flex;
    }
    .continer-four{
        display: flex;
        flex-direction: row;
    }
    .Mortgage-Calculator{
        display: flex;
        flex-direction: column;
        flex-basis: 50%;
    }
    .Mortgage-Calculator-img{
        display: flex;
        flex-basis: 50%;
    }
    .Result-Summary-UI{
        display: flex;
    }
    .Result-Summary-UI-img{
        display: flex;
        flex-basis: 50%;
    }
    .projet-show-three{
        display: flex;
        flex-basis: 50%;
    }.container-six{
        display: flex;
        flex-direction: row;
    }
    .Huddle-Landing-Page{
        flex-basis: 50%;
    }
    .Huddle-Landing-Page-img{
        flex-basis: 50%;
    }
    .services-data{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
    }
    .container-contact-booking{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        
    }
    .nav-about{
        display: flex;
        justify-content: space-between;
    }
    .explore-btn{
        width: 150px;
    }
    .space-my-story{
        display: flex;
    }
    /* .para-area{
        display: flex;
    } */
     .lens-content{
        display: flex;
        flex-basis: 50%;
     }
     .nav-about {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 110%;
    }
    
    
    
}

